body {
    background-color: #f7f1f4d3;
    color: rgb(230, 211, 211);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0%
    
}

p {
    color:rgb(19, 20, 20);
}

h1 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 79px;
    color: #404040;
}

h2 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #404040;
}

h3 {
    font-family: Lexend;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1.25px;
    color: #404040;
}


button {
    font-family: Lexend;
    font-size: 20px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: left;    
    background-color: #3645a5;
    color:aliceblue;
    border-radius: 50px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 100ms ease-in-out;
}
button:hover {
    background-color: #8E3179;
  }

header {
    background-image: linear-gradient(to right, #8E3179, #1E2761);
}   

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 10%;
    padding: 1%;
    text-align: center;
}

nav {
    width:80%;
    padding: 1%;
}

ul {
    width: 30%;
    min-width: 450px;
    margin-left: auto;
}

/*.heroImg {
    height: 400px;
    padding: 80px;
    float: right;
}

.content {
    max-width: 600px;
    float: left;
    padding-top: 5%;
    padding-left: 5%;
    padding-inline-end: 10%;

}
*/

.heroSection {
    display: flex;
    flex-wrap: wrap;
    border-top: 5%;
    padding: 100px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.content {
    padding-left: 5%;
    padding-right: 40px;
    max-width: 725px;
}

.profilePicture {
    margin: 20px;
}

.flexContainer {
    display: flex;
    padding: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.flexContainer div {
    width: 33%;
    padding: 20px;
}

#myUxSkills {
    margin: 5%;
}

.workGrid {
    display: grid;
    border: 20px;
    padding-left: 5%;
    padding-right: 5%;
    column-gap: 5%;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'Img Blurb'
    'Img Blurb'
    'Img Blurb'
    ;
}

.workGrid p {
    max-width: 70%;
}


.myWork {
    display: grid;
    padding: auto;
}

.myWork h1 {
    padding-left: 5%;
}

#viewAllProjects {
    padding-left: 150px;
}


.workImages {
    padding: 20px;
    justify-content:space-around;
}

#Img img {
    border-radius: 20px;
}


footer {
    background-image: linear-gradient(to right, #8E3179, #1E2761);
    padding: 2%;
    margin-top: auto;
    flex-direction: column;
    min-height: 5vh;
}

footer ul {
    display: flex;
    vertical-align: top;
}

li {
    padding-inline: 5%;
}
 
#Img {
    grid-area: wolfImg;
}

#Blurb {
    grid-area: Blurb;
    padding-bottom: 40px;
}

#Img {
    grid-area: Img;
}

#Blurb {
    grid-area: Blurb;
    padding-bottom: 40px;
}

#ocImg {
    grid-area: ocImg;
}

#ocBlurb {
    grid-area: ocBlurb;
    padding-bottom: 40px;
}


@media only screen and (max-width: 800px) {
    .flexContainer {
        flex-direction: column;
    }

    .flexContainer div {
        width: auto;
    }

    h1 {
        font-size: 40px;
    }
    .inline-block {
        width: 400
    }
    footer ul {
        flex-direction: column;
    }
}

  
@media only screen and (max-width: 1050px) {
    .workGrid {
        grid-template-columns: auto;
        grid-template-areas: 
        'Img'
        'Blurb'
        'nasaImg'
        'nasaBlurb'
        'ocImg'
        'ocBlurb'
        ;
    }

    .workGrid p {
        max-width: 100%;
    }

    .workImages {
        padding: 0%;
    }

    .heroSection {
        padding: 5%;
    }
    h1 {
        font-size: 40px;
    }
}